<head>
  <link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="things RSS" href="/feed.xml">
  {% if page.image %}
	<meta name="twitter:card"  content="summary_large_image"/>
	<meta name="twitter:image" content="{{ site.url }}{{ page.image }}"/>
	<meta name="twitter:title" content="{{ page.title }}" />
	{% else %}
	<meta name="twitter:card"  content="summary"/>
	<meta name="twitter:image" content="{{ site.url }}favicon.png"/>
	<meta name="twitter:title" content="things from the room in the back" />
	{% endif %}
  <title>things from the room in the back</title>
  <meta charset="utf-8">
</head>